@model iphem_web.Models.Carrusel
@{ ViewData["Title"] = "Nueva Campaña"; }

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-iphem text-white">
                    <h4 class="mb-0">Subir Flyer / Banner</h4>
                </div>
                <div class="card-body">
                    <form asp-action="NuevoItemCarrusel" enctype="multipart/form-data">
                        
                        <div class="mb-3">
                            <label class="fw-bold">Imagen de Diseño</label>
                            <input type="file" name="archivoImagen" class="form-control" accept="image/*" required />
                            <small class="text-muted">Recomendado: Imágenes horizontales (1920x600 px)</small>
                        </div>

                        <div class="mb-3">
                            <label>Enlace de Redirección (Opcional)</label>
                            <input asp-for="Enlace" class="form-control" placeholder="Ej: https://instagram.com/..." />
                            <small class="text-muted">Si pegás un link acá, la imagen será cliqueable.</small>
                        </div>

                        <div class="d-grid gap-2">
                            <a asp-action="Carrusel" class="btn btn-secondary">Cancelar</a>
                            <button type="submit" class="btn btn-iphem">Subir Imagen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>